<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite SauceDemo" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="listeners.ReporteListener"/>
    </listeners>

    <test name="Login">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Carrito">
        <classes>
            <class name="tests.CarritoTest"/>
        </classes>
    </test>

</suite>